@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

$Title-front: "jost", 48px, white;
$logo: "jost", medium, 24px, white ;
$paragraphReg: "jost", regular, 16px, white;   
$inputText: "jost", medium , 16px,  white;
$button: "jost", bold , 16px , white;
